!!!
%html
  %head
    %meta{charset: 'utf8'}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "author", :content => "NetEngine"}
    %meta{:name => "description", :content => "Ruby on Rails software development"}
    
    %link{:rel => 'shortcut-icon', :href => '/favicon.ico'}

    %title= data.general.title

    = stylesheet_link_tag "style"
    = javascript_include_tag "application"

    = yield_content :head

  %body
    .wrapper
      %nav.navigation
        .container= partial 'layouts/nav'

      %section.section-main
        .container= yield