
%form

  - data.steps.each_with_index do |step, index|

    %section.step{ data: { step: index } }

      - if index != (data.steps.count - 1)

        %h1= "Step #{index + 1}"

        %ol
          - step.labels.each do |label|
            %li.form-item
              %label= label['title']
              %input{type: 'text'}
              
        .pagination
          .prev
            = link_to 'Prev', '#', id: 'prev-button', data: { step: index + 1 }
          .next
            = link_to 'Next', '#', id: 'next-button', data: { step: index + 1 }

      - else
        %h1= "Success"
        = image_tag 'joffrey.gif'

